@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --primary-color: #828282;
    --secondary-color: #4F4F4F;
    --gray: #F2F2F2;
    --orange: #F2994A;
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;    
}

.heading{
    max-width: 960px;
    margin:0 auto;
    padding-left: 3rem;
}
/* h1{
    text-align: center;
} */
.gridd{
    display: flex;
    max-width: 960px;
    margin:0 auto;
    
}
.gridd .form{
    padding: 1rem;
    margin:2rem;
}

.gridd .total{
    width: 75%;
    margin: 3rem;
    max-height: 550px;
    
}

input,
label {
    display: block;
}

label {
    color: var(--secondary-color);
    font-size: x-small;
    padding-bottom: 0.3rem;
    padding-left: 0.2rem;
}

section {
    margin-bottom: 3.5rem;
}

.input-main {
    margin-bottom: 1rem;
}

.input-box {
    display: flex;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    padding: 1rem;
}

.material-icons {
    color: var(--primary-color);
}

.input-box .input {
    border-style: none;
    margin-left: 1rem;
    width: 75%;
}

.sub {
    display: flex;
}

.sub .input-main {
    width: 50%;

}

.sub .select {
    padding-right: 1rem;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
}

.checkbox input {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    width: 1.2rem;
    height: 1.2rem;
}

.checkbox label {
    color: var(--secondary-color);
    padding-top: 0.2rem;
    font-size: small;
}

.button {
    width: 166px;
    height: 54px;
    background: var(--orange);
    border-radius: 12px;
    color: white;
    float: right;
    border-style: none;
    margin-top: 2rem;
}


@media (max-width:800px){
    .gridd{
        display: flex;
        flex-direction: column-reverse;
    }
    
}